.el-form-item__label {
width: 120px !important;
}
.el-form-item__content {
margin-left: 120px !important;
}
.el-textarea{
width: 90% !important;
}
input::-webkit-input-placeholder {
font-size: 14px;
}
.custom {
    width: 217px !important;
  }