form{
    margin-bottom: 60px;
  }
  .file_hide {
    display: none;
  }
  .preview {
    max-width: 100px;
    max-height: 100px;
    display: block !important;
    margin: auto;
    border: 1px solid #dcdfe6;
    border-radius: 5px;
  }